.logo {
  padding: 0.3% 9%;
  text-decoration: none;
  background: linear-gradient(to left, #b3ffab, #12fff7);
}

.logo a {
  font-size: 0.9rem;
  margin: 0vw 0.2vw;
  color: #000;
}

.current {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0vw 0.2vw;
}

.logo a:hover {
  color: rgb(236, 147, 73);
}
