.footer-main {
  width: 100%;
  padding: 3vh 0;
  background-color: rgb(223, 235, 230);
  text-align: center;
}

.footer-form {
  width: 50%;
  padding-bottom: 1.8rem;
  margin: 0 auto;
}

.footer-form-btn {
  width: 100%;
  background: #837d7d;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.footer-second {
  width: 100%;
  padding: 3vh 0;
  background-color: rgb(223, 235, 230);
  text-align: center;
}
