* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  padding: 1vh 10vw;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to left, #b3ffab, #12fff7);
}

.animal-connection-icon {
  width: 15rem;
}

.lists-UserAction {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user-nickname-men {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: white;
  background: rgb(49, 78, 204);
  border-bottom: solid 3px rgb(17, 36, 119);
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow:1px 0 1px black;
  margin-right: 1vw;
}

.user-nickname-woman {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: white;
  background: rgb(243, 73, 73);
  border-bottom: solid 3px rgb(192, 27, 27);
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow:1px 0 1px black;
  margin-right: 1vw;
}

.user-nickname-other {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: white;
  background: rgb(200, 39, 233);
  border-bottom: solid 3px rgb(143, 23, 167);
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow:1px 0 1px black;
  margin-right: 1vw;
}

.logout {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: white;
  background: rgb(255, 182, 122);
  border-bottom: solid 3px rgb(175, 100, 100);
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow:1px 0 1px black;
}

.login {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: white;
  background: rgb(255, 182, 122);
  border-bottom: solid 3px rgb(175, 100, 100);
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow:1px 0 1px black;
  margin-right: 1vw;
}

.sign-up {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: white;
  background: rgb(255, 182, 122);
  border-bottom: solid 3px rgb(175, 100, 100);
  border-radius: 2rem;
  font-size: 1.4rem;
  text-shadow:1px 0 1px black;
  font-weight: bold;
}

.header-second {
  width: 100%;
  padding: 3vh 0;
  background-color: rgb(223, 235, 230);
  text-align: center;
}
