* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  padding: 1vh 10vw;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to left, #b3ffab, #12fff7);
}

.animal-connection-icon {
  width: 15rem;
}

.lists-UserAction {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-btn {
  display: inline-block;
  padding: 1rem 1.4rem;
  border-radius: 2rem;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: 'Kosugi Maru', sans-serif;
  text-decoration: none;
  text-shadow:1px 0 1px black;
}

.user-nickname-men {
  background: rgb(79, 102, 204);
  border: 0.3rem outset #4554a7;
  margin-right: 2vw;
}

.user-nickname-woman {
  background: rgb(233, 84, 84);
  border: 0.3rem outset #db7556;
  margin-right: 2vw;
}

.user-nickname-other {
  background: rgb(199, 120, 214);
  border: 0.3rem outset #ab32b6;
  margin-right: 2vw;
}

.login {
  background: rgb(238, 147, 72);
  border: 0.3rem outset #e6d472;
  margin-right: 2vw;
}

.logout {
  background: rgb(238, 147, 72);
  border: 0.3rem outset #e6d472;
}

.sign-up {
  background: rgb(238, 147, 72);
  border: 0.3rem outset #e6d472;
}

.header-second {
  width: 100%;
  padding: 3vh 0;
  background: linear-gradient(to left, #b3ffab, #12fff7);
  text-align: center;
}
