<%# CSS・・・assets/stylesheets/users/show.css %>
<li class="top-picture-li">
    <div class="good-picture-box">
    <%= link_to user_picture_path(user_id: good_picture.user_id, id: good_picture.picture_id) do %>
      <%= image_tag good_picture.picture.image, class: "top-picture-image" %>
      <h2 class="top-picture-title">
        <%= truncate(good_picture.picture.title, length: 11, separator: "・") %>
      </h2>   
    <% end %>
    </div>
</li>
