<%# CSS・・・assets/stylesheets/shared/error_messages.css %>
<% if model.errors.any? %>
  <div class="second-error-alert">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class='second-error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
