<%# CSS・・・assets/stylesheets/shared/footer.css %>
<footer class="footer-main">
  <div class="footer-form">
    <%= link_to "情報提供・修正要望Googleフォーム", "https://forms.gle/hRTPKJ8dUxECx42T7", target: :blank, class: "footer-form-btn", data: {confirm: "外部ページに進みますか?"} %>
  </div>
  <%= link_to image_tag("animal-connection-rogo-mono.png"), "/" %>
</footer>
