<%# CSS・・・assets/stylesheets/facilities/show.css %>
<li>
  <div class='show-comment-box'>
    <p class='show-comment-name'>
      <%= comment.user.nickname %>
    </p>
    <h3 class='show-comment-text'>
      <%= comment.text %>
    </h3>
  </div>
</li>
