<%# CSS・・・assets/stylesheets/facilities/show.css %>
<li>
  <div class='show-comment-box'>
    <p class='show-comment-name'>
      <% if user_signed_in? && comment.user.nickname == current_user.nickname %>
        <%= link_to comment.user.nickname, user_path(comment.user_id), class: "show-my-comment-link" %>
      <% else %>
        <%= link_to comment.user.nickname, user_path(comment.user_id), class: "show-comment-link" %>
      <% end %>
    </p>
    <h3 class='show-comment-text'>
      <%= comment.text %>
    </h3>
  </div>
</li>
