<%# CSS・・・assets/stylesheets/facilities/search.css %>
<li>
  <div class='show-picture-box'>
    <p class='show-picture-name'>
      <%= picture.user.nickname %>
    </p>
    <%= image_tag picture.image, size: '320x240' %>
    <h3 class='show-picture-title'>
      <%= picture.title %>
    </h3>
  </div>
</li>
