<%# CSS・・・assets/stylesheets/facilities/search.css %>
<li>
  <div class="top-picture-box">
    <%= link_to facility_path(new_picture.facility_id) do %>
      <p class="top-picture-name">
        <%= truncate(new_picture.facility.name, length: 10, separator: "・") %>
      </p>
      <%= image_tag new_picture.image, size: "288x216" %>
      <h2 class="top-picture-title">
        <%= truncate(new_picture.title, length: 10, separator: "・") %>
      </h2>
    <% end %>
  </div>
</li>
