<%# CSS・・・assets/stylesheets/facilities/search.css %>
<li class="top-picture-li">
  <div class="top-picture-box">
    <%= link_to user_picture_path(new_picture.user, new_picture) do %>
      <p class="top-picture-name">
        <%= truncate(new_picture.facility.name, length: 11, separator: "・") %>
      </p>
      <%= image_tag new_picture.image, class: "top-picture-image" %>
      <h2 class="top-picture-title">
        <%= truncate(new_picture.title, length: 11, separator: "・") %>
      </h2>
    <% end %>
  </div>
</li>
