<%# CSS・・・assets/stylesheets/facilities/search.css %>
<li class="top-picture-li">
  <div class="top-picture-box">
    <%= link_to user_picture_path(picture.user, picture) do %>
      <p class="picture-created-data">
      投稿日:<%= picture.created_at.to_s(:datetime_jp) %>
      </p>
      <%= image_tag picture.image, class: "top-picture-image" %>
      <h2 class="top-picture-title">
        <%= truncate(picture.title, length: 11, separator: "・") %>
      </h2>
    <% end %>
  </div>
</li>
