<%# CSS・・・assets/stylesheets/facilities/facilities-index.scss %>
<%= render "shared/header" %>
<div class='main'>
  <div class='top-contents'>
    <h1 class='top-message'>
      あにまるコネクションへようこそ‼︎
    </h1>
    <p class='top-explain1'>
      多種多様な生物との出会いをつくり、
    </p>
    <p class='top-explain2'>
      その[思い出]を記録することができます。
    </p>
  </div>  
</div>
<%= render "shared/footer" %>
