.main {
  background: #e9e7e7;
}

.top-contents {
  width: 100vw;
  background-image: image-url('header-ber.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 10vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.top-message {
  font-size: 3vh;
  height: 5vh;
}

.top-explain1 {
  font-size: 2vh;
  height: 3vh;
}

.top-explain2 {
  font-size: 2vh;
  height: 3vh;
}
