.main {
  background: #e9e7e7;
}

.top-contents {
  width: 100vw;
  background-image: image-url('header-ber.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color:aliceblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 10vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.top-message {
  font-size: 3vh;
  height: 5vh;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.top-explain {
  font-size: 2vh;
  height: 3vh;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.top-picture-ber {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 3% 18%;
  background-color: rgb(223, 235, 230);
}

.top-picture-top {
  display: flex;
  justify-content: center;
  font-size: 2.3em;
  margin-bottom: 0.8em;
}

.top-picture-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.top-picture-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(90, 218, 201);
  margin-bottom: 0.8em;
  padding: 0.5em;
  border-radius: 20px;
}

.top-picture-name {
  font-size: 1.3em;
  color: rgb(29, 28, 28);
  margin-bottom: 0.1em;
}

.top-picture-title {
  font-size: 1.5em;
  color: rgb(48, 38, 38);
  margin-top: 0.2em;
}

.top-picture-nil {
  display: flex;
  justify-content: center;
  font-size: 1.7em;
  color: rgb(48, 38, 38);
  margin-top: 0.2vw;
  margin-left: 1vw;
}
