.main {
  background: #e9e7e7;
}

.top-contents {
  width: 100%;
  background-image: image-url('header-ber5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color:aliceblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 4rem 5rem 4rem;
  color: #fff;
}

.top-message {
  font-size: 1.8rem;
  height: 2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  margin-bottom: 1rem;
}

.top-explain {
  font-size: 1.5rem;
  height: 1.8rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  margin-left: 1rem;
}

.top-registration-main {
  width: 100%;
  height: auto;
  padding: 0.5rem 0rem;
  background-color: rgb(223, 235, 230);
  display: flex;
  justify-content: center;
}

.top-form-wrap {
  width: 75vw;
  background-color: white;
  padding: 1.3rem 0rem;
  border: 0.5rem solid white;
  border-radius: 3rem;
  font-size: 1.6rem;
}

.top-form-text {
  font-weight: bold;
  margin: 0rem 2.5rem;
}

.top-form-top-text {
  font-weight: bold;
  border-bottom: 3px solid #000;
  margin: 0 3rem 1rem 3rem;
}

.top-text-picture-top {
  margin-top: 0.5rem;
}

.top-picture-first-letter:first-letter {
  font-size: 2.3rem;
  color: #a1d3bf;
}

.show-facility-zoo-first-letter:first-letter {
  font-size: 2.3rem;
  color: rgb(9, 156, 100);
}

.show-facility-aquarium-first-letter:first-letter {
  font-size: 2.3rem;
  color: rgb(10, 138, 197);
}

.mypage-men-first-letter:first-letter {
  font-size: 2.3rem;
  color: rgb(79, 102, 204);
}

.mypage-woman-first-letter:first-letter {
  font-size: 2.3rem;
  color: rgb(233, 84, 84);
}

.mypage-other-first-letter:first-letter {
  font-size: 2.3rem;
  color: rgb(199, 120, 214);
}

.top-select {
  display: flex;
  align-items: center;
}

.top-select-box {
  width: 100%;
  height: 2.6rem;
  margin: 0rem 0.25rem;
  padding: 0.2rem 0.5rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  background-color: #f5f5f5e8;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.top-search-btn {
  width: 80px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.top-search-btn:hover {
  width: 80px;
  cursor: pointer;
  transition-duration: 0.5s;
  transform: rotate(45deg);
}

.area-box {
  display: flex;
  justify-content: center;
}

.area-box-image {
  position:relative;
}

.area-icon-set {
  position:absolute; top:60px; left:10px;
}

.area-icon {
  width: 85px;
  background-color: rgb(223, 235, 230);
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.area-icon:hover {
  width: 100px;
  background-color: rgb(223, 235, 230);
  padding: 2px;
  margin: 3px;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.top-picture-main {
  width: 100%;
  height: auto;
  padding: 0.5rem 0rem;
  background-color: white;
  display: flex;
  justify-content: center;
}

.top-picture-form-wrap {
  width: 98vw;
  padding: 0.5rem 0rem;
  font-size: 1.6rem;
}

.top-picture-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
}

.top-picture-li {
  width: 25%;
}

.top-picture-box {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0.1rem;
  padding: 0.3rem 0.2rem;
  border-radius: 0.8rem;
}

.picture-box-zoo {
  background-color: rgb(158, 221, 197);
}

.picture-box-aquarium {
  background-color: rgb(155, 204, 226);
}

.good-picture-box {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0.1rem;
  padding: 0.5rem 0.4rem;
  border-radius: 0.5rem;
}

.top-picture-name {
  font-size: 1rem;
  color: rgb(29, 28, 28);
  margin-bottom: 0.1rem;
  margin-left: 0.3rem;
}

.top-picture-image {
  width: 100%;
  height: 15vw;
}

.top-picture-title {
  font-size: 1.1rem;
  color: rgb(48, 38, 38);
  margin-top: 0.1rem;
  margin-left: 0.3rem;
}

.top-picture-nil {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: rgb(48, 38, 38);
}

.kaminari-top {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.3rem 0;
}

.kaminari-top a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #a1d3bf;
  background-color: #fff;
  margin: 0 0.6rem;
  padding: 7px 15px;
  border: 0.3rem outset #a1d3bf;
  border-radius: 20px;
}

.kaminari-top .current {
  font-size: 1.6rem;
  color: #404240;
}

.kaminari-zoo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.3rem 0;
}

.kaminari-zoo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(9, 156, 100);
  background-color: #fff;
  margin: 0 0.6rem;
  padding: 7px 15px;
  border: 0.3rem outset rgb(9, 156, 100);
  border-radius: 20px;
}

.kaminari-zoo .current {
  font-size: 1.6rem;
  color: #404240;
}

.kaminari-aquarium {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.3rem 0;
}

.kaminari-aquarium a {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(10, 138, 197);
  background-color: #fff;
  margin: 0 0.6rem;
  padding: 7px 15px;
  border: 0.3rem outset rgb(10, 138, 197);
  border-radius: 20px;
}

.kaminari-aquarium .current {
  font-size: 1.6rem;
  color: #404240;
}

.kaminari-men {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.3rem 0;
}

.kaminari-men a {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(79, 102, 204);
  background-color: #fff;
  margin: 0 0.6rem;
  padding: 7px 15px;
  border: 0.3rem outset rgb(79, 102, 204);
  border-radius: 20px;
}

.kaminari-men .current {
  font-size: 1.6rem;
  color: #404240;
}

.kaminari-woman {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.3rem 0;
}

.kaminari-woman a {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(233, 84, 84);
  background-color: #fff;
  margin: 0 0.6rem;
  padding: 7px 15px;
  border: 0.3rem outset rgb(233, 84, 84);
  border-radius: 20px;
}

.kaminari-woman .current {
  font-size: 1.6rem;
  color: #404240;
}

.kaminari-other {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.3rem 0;
}

.kaminari-other a {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(199, 120, 214);
  background-color: #fff;
  margin: 0 0.6rem;
  padding: 7px 15px;
  border: 0.3rem outset rgb(199, 120, 214);
  border-radius: 20px;
}

.kaminari-other .current {
  font-size: 1.6rem;
  color: #404240;
}
