.region-main {
  width: 100%;
  height: auto;
  background-color: rgb(223, 235, 230);
  display: flex;
  justify-content: center;
}

.region-wrap {
  width: 90%;
  background-color: white;
  border: 0.5rem solid white;
  border-radius: 5rem;
}

.region-map {
  display: flex;
  justify-content: center;
}

.region-box {
  position:relative;
}

.region-map-name {
  position:absolute; top:0px; left:0px;
  background-color: rgb(223, 235, 230);
  padding: 2px;
  border-radius: 10px;
  height: 65px;
}

.region-map-prefectures {
  background-color: rgb(103, 110, 107);
  padding: 1px;
  border-radius: 10px;
  width: 60px;
}

.hokkaido {position:absolute; top:100px; left:244px;}
.aomori {position:absolute; top:242px; left:190px;}
.iwate {position:absolute; top:300px; left:233px;}
.miyagi {position:absolute; top:376px; left:228px;}
.akita {position:absolute; top:301px; left:153px;}
.yamagata {position:absolute; top:377px; left:153px;}
.fukushima {position:absolute; top:434px; left:190px;}

.ibaraki {position:absolute; top:152px; left:305px;}
.tochigi {position:absolute; top:130px; left:208px;}
.gunma {position:absolute; top:130px; left:106px;}
.saitama {position:absolute; top:196px; left:155px;}
.chiba {position:absolute; top:288px; left:322px;}
.tokyo {position:absolute; top:246px; left:155px;}
.kanagawa {position:absolute; top:322px; left:193px;}

.niigata {position:absolute; top:83px; left:277px;}
.toyama {position:absolute; top:140px; left:180px;}
.ishikawa {position:absolute; top:133px; left:102px;}
.fukui {position:absolute; top:215px; left:70px;}
.yamanashi {position:absolute; top:293px; left:280px;}
.nagano {position:absolute; top:189px; left:260px;}
.gifu {position:absolute; top:260px; left:173px;}
.shizuoka {position:absolute; top:375px; left:280px;}
.aichi {position:absolute; top:375px; left:172px;}

.mie {position:absolute; top:295px; left:342px;}
.shiga {position:absolute; top:149px; left:349px;}
.kyoto {position:absolute; top:145px; left:214px;}
.osaka {position:absolute; top:224px; left:181px;}
.hyogo {position:absolute; top:161px; left:90px;}
.nara {position:absolute; top:242px; left:263px;}
.wakayama {position:absolute; top:344px; left:231px;}

.tottori {position:absolute; top:81px; left:277px;}
.shimane {position:absolute; top:81px; left:176px;}
.okayama {position:absolute; top:157px; left:277px;}
.hiroshima {position:absolute; top:157px; left:176px;}
.yamaguchi {position:absolute; top:135px; left:87px;}
.tokushima {position:absolute; top:302px; left:305px;}
.kagawa {position:absolute; top:249px; left:305px;}
.ehime {position:absolute; top:288px; left:150px;}
.kochi {position:absolute; top:365px; left:145px;}

.fukuoka {position:absolute; top:84px; left:300px;}
.saga {position:absolute; top:108px; left:218px;}
.nagasaki {position:absolute; top:124px; left:155px;}
.kumamoto {position:absolute; top:208px; left:252px;}
.oita {position:absolute; top:151px; left:339px;}
.miyazaki {position:absolute; top:235px; left:339px;}
.kagoshima {position:absolute; top:300px; left:268px;}
.okinawa {position:absolute; top:324px; left:60px;}

.prefectures-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prefectures-box {
  width: 70%;
  height: auto;
}

.prefectures-top {
  width: 100%;
  font-size: 1.8rem;
  color: #000;
  margin-top: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid #000;
}

.hokkaidotohoku-first-letter:first-letter {
  font-size: 2.5rem;
  color: #25a5e8;
}

.kanto-first-letter:first-letter {
  font-size: 2.5rem;
  color: #49e0e6;
}

.chubu-first-letter:first-letter {
  font-size: 2.5rem;
  color: #6FC369;
}

.kinki-first-letter:first-letter {
  font-size: 2.5rem;
  color: #F1EC00;
}

.chugokushikoku-first-letter:first-letter {
  font-size: 2.5rem;
  color: #e6bf49;
}

.kyushuokinawa-first-letter:first-letter {
  font-size: 2.5rem;
  color: #e65b49;
}

.prefectures-iconset {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
}

.prefectures-zoo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prefectures-aquarium {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prefectures-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.prefectures-text-non {
  margin-top: 0.8rem;
}

.prefectures-zoo-btn {
  font-size: 1.8rem;
}

.prefectures-aquarium-btn {
  font-size: 1.8rem;
}

.prefectures-zoo-btn {
  font-weight: bold;
  color: #fff;
  background-color: rgb(9, 156, 100);
  border: 6px solid rgb(9, 156, 100);
  border-radius: 1.5rem;
  cursor: pointer;
}

.prefectures-aquarium-btn {
  font-weight: bold;
  color: #fff;
  background-color: rgb(10, 138, 197);
  border: 6px solid rgb(10, 138, 197);
  border-radius: 1.5rem;
  cursor: pointer;
}

.region-again-search-box {
  display: flex;
  justify-content: center;
  width: 35%;
  padding: 2rem 0rem;
  margin: 0 auto;
}

.region-again-search-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #ea352d;
  border: 0.5rem solid #ea352d;
  border-radius: 1rem;
  color: #fff;
  line-height: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
