* {
  text-decoration:none
}

.search-main {
  width: 100%;
  height: auto;
  background-color: rgb(223, 235, 230);
  display: flex;
  justify-content: center;
}

.search-wrap {
  width: 70vw;
  background-color: white;
  padding-bottom: 2.5rem;
  border: 0.5rem solid white;
  border-radius: 5rem;
}

.search-top-text {
  line-height: 6rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.search-sab-text {
  line-height: 1.5rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.search-non-text {
  margin: 3% 18% 0% 18%;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.facilities-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.facility-list-zoo {
  display: flex;
  align-items: center;
  margin: 1.2% 18% 1.2% 18%;
  background-color: rgb(9, 156, 100);
  border: 3px solid rgb(112, 207, 171);
  border-radius: 1.5rem;
}

.facility-list-aquarium {
  display: flex;
  align-items: center;
  margin: 1.2% 18% 1.2% 18%;
  background-color: rgb(10, 138, 197);
  border: 3px solid rgb(123, 194, 226);
  border-radius: 1.5rem;
}

.facility-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.facility-prefectures-text {
  font-size: 1.3rem;
  color: #FFF;
  margin-left: 1vw;
}

.facility-name-text {
  font-size: 1.6rem;
  color: #FFF;
  margin-top: 0.2vw;
  margin-left: 2vw;
}

.again-search-box {
  display: flex;
  justify-content: center;
  width: 35%;
  padding-top: 2rem;
  margin: 0 auto;
}

.again-search-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #ea352d;
  border: 0.5rem solid #ea352d;
  border-radius: 1rem;
  color: #fff;
  line-height: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.key-search-top {
  margin: 3rem 0rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
