* {
  text-decoration:none
}

.search-main {
  width: 100vw;
  height: auto;
  background-color: rgb(223, 235, 230);
  display: flex;
  justify-content: center;
}

.search-wrap {
  width: 75vw;
  background-color: white;
  padding-bottom: 30px;
  border: 10px solid white;
  border-radius: 10px;
}

.search-top-text1 {
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.search-top-text2 {
  line-height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.non-search-text1 {
  padding-top: 28px;
  line-height: 30px;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.non-search-text2 {
  line-height: 30px;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.facilities-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.facility-list-zoo {
  display: flex;
  align-items: center;
  margin: 1.2% 23% 1.2% 23%;
  background-color: rgb(9, 156, 100);
  border: 3px solid rgb(112, 207, 171);
  border-radius: 20px;
}

.facility-list-aquarium {
  display: flex;
  align-items: center;
  margin: 1.2% 23% 1.2% 23%;
  background-color: rgb(10, 138, 197);
  border: 3px solid rgb(123, 194, 226);
  border-radius: 20px;
}

.facility-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.facility-text {
  font-size: 21px;
  color: #FFF;
  margin-left: 1vw;
}

.facility-texts {
  font-size: 25px;
  color: #FFF;
  margin-top: 0.2vw;
  margin-left: 2vw;
}

.again-search-btn-area {
  width: 40%;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.again-search-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  border-radius: 10px;
  color: #fff;
  line-height: 48px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
