.show-main {
  background-color: white;
}

.show-facility-list-zoo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 25% 0% 25%;
  background-color: rgb(9, 156, 100);
  border-radius: 1.5rem;
}

.show-facility-list-aquarium {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 25% 0% 25%;
  background-color: rgb(10, 138, 197);
  border-radius: 1.5rem;
}

.show-facility-name {
  font-size: 2.1rem;
  color: #FFF;
  margin-left: 1vw;
}

.first-show {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2% 18%;
}

.show-content-zoo {
  margin: 3% 0% 1% 0%;
  font-size: 2.2rem;
  background: linear-gradient(transparent 60%, #baebba 0%);
}

.show-content-aquarium {
  margin: 3% 0% 1% 0%;
  font-size: 2.2rem;
  background: linear-gradient(transparent 60%, #93d5e6 0%);
}

.show-contents-kana {
  font-size: 1.4rem;
  margin-left: 1vw;
}

.show-contents-name {
  font-size: 2rem;
  margin-left: 1vw;
}

.upper-content {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.official-btn {
  background: linear-gradient(to left, #b3ffab, #12fff7);
  padding: 1rem;
  margin: 1rem 0rem;
  line-height: 1.5rem;
  border-radius: 2rem;
  border: 0.5rem outset #1dc0c0;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(104, 92, 92);
  cursor: pointer;
  text-decoration: none;
}

.show-comment-ber {
  width: 100%;
  padding: 3% 10%;
  background-color: rgb(150, 238, 197);
}

.show-comment-top {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.show-comment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin-left: 1vw;
}

.show-comment-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem 0rem;
}

.show-comment-name {
  font-size: 1.3rem;
}

.show-comment-link {
  background-color: rgb(73, 168, 140);
  color: #fff;
  border-radius: 10%;
  padding: 0.2rem 0.7rem;
}

.show-my-comment-link {
  background-color: rgb(194, 80, 65);
  color: #fff;
  border-radius: 10%;
  padding: 0.2rem 0.7rem;
}

.show-comment-text {
  font-size: 1.7rem;
  color: rgb(48, 38, 38);
  margin-top: 0.2vw;
  margin-left: 1vw;
}

.show-comment-picture-nil-text {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  color: rgb(48, 38, 38);
  margin-top: 0.2vw;
  margin-left: 1vw;
}

.show-picture-ber {
  width: 100%;
  padding: 3% 10%;
  background-color: rgb(60, 243, 234);
}

.show-picture-top {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.show-picture-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.show-picture-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(128, 193, 223);
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  border-radius: 20px;
}

.show-picture-name {
  font-size: 1.3rem;
  color: rgb(29, 28, 28);
  margin-bottom: 0.1em;
}

.show-picture-link {
  background-color: rgb(73, 168, 140);
  color: #fff;
  border-radius: 10%;
  padding: 0.2rem 0.7rem;
}

.show-my-picture-link {
  background-color: rgb(194, 80, 65);
  color: #fff;
  border-radius: 10%;
  padding: 0.2rem 0.7rem;
}

.show-picture-title {
  font-size: 1.5rem;
  color: rgb(48, 38, 38);
  margin-top: 0.2rem;
}

.show-btn-set {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 1.5rem;
  bottom: 2.5vh;
}

.comment-btn {
  width: 10rem;
  background: #0db498;
  text-align: center;
  border-radius: 3rem;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1.5rem;
}

.comment-btn-text {
  color: #fff;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.3rem;
}

.comment-btn-icon {
  width: 6rem;
}

.picture-btn {
  width: 10rem;
  background: #0db498;
  text-align: center;
  border-radius: 3rem;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1.5rem;
}

.picture-btn-text {
  color: #fff;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.3rem;
}

.picture-btn-icon {
  width: 6rem;
}
