.show-main {
  background-color: white;
}

.show-facility-list-zoo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 25% 0% 25%;
  background-color: rgb(9, 156, 100);
  border-radius: 20px;
}

.show-facility-list-aquarium {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 25% 0% 25%;
  background-color: rgb(10, 138, 197);
  border-radius: 20px;
}

.show-facility-texts {
  font-size: 30px;
  color: #FFF;
  margin-left: 1vw;
}

.first-show {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20vw;
}

.show-content-zoo {
  margin: 3% 0% 1% 0%;
  font-size: 35px;
  background: linear-gradient(transparent 60%, #baebba 0%);
}

.show-content-aquarium {
  margin: 3% 0% 1% 0%;
  font-size: 35px;
  background: linear-gradient(transparent 60%, #93d5e6 0%);
}

.show-contents-kana {
  font-size: 25px;
  margin-left: 1vw;
}

.show-contents {
  font-size: 30px;
  margin-left: 1vw;
}

.map-area {
  padding: 200px 200px;
  margin-left: 1vw;
  background: linear-gradient(to left, #b3ffab, #12fff7);
}

.upper-content {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.official-btn {
  background: linear-gradient(to left, #b3ffab, #12fff7);
  padding: 15px;
  margin: 20px 0px;
  line-height: 32px;
  border-radius: 10px;
  border: 6px outset #1dc0c0;
  font-size: 21px;
  font-weight: bold;
  color: rgb(104, 92, 92);
  cursor: pointer;
  text-decoration: none;
}

.show-comment-ber {
  width: 100vw;
  padding: 3% 10%;
  background-color: rgb(150, 238, 197);
}

.show-comment-top {
  font-size: 2em;
  margin-bottom: 0.8em;
}

.show-comment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin-left: 1vw;
}

.show-comment-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8em 0em;
}

.show-comment-name {
  font-size: 1.3em;
}

.show-comment-link {
  background-color: rgb(73, 168, 140);
  color: #fff;
  border-radius: 20%;
  padding: 0.2rem 0.7rem;
}

.show-my-comment-link {
  background-color: rgb(194, 80, 65);
  color: #fff;
  border-radius: 20%;
  padding: 0.2rem 0.7rem;
}

.show-comment-text {
  font-size: 1.7em;
  color: rgb(48, 38, 38);
  margin-top: 0.2vw;
  margin-left: 1vw;
}

.show-comment-picture-nil-text {
  display: flex;
  justify-content: center;
  font-size: 1.7em;
  color: rgb(48, 38, 38);
  margin-top: 0.2vw;
  margin-left: 1vw;
}

.show-picture-ber {
  width: 100vw;
  padding: 3% 10%;
  background-color: rgb(60, 243, 234);
}

.show-picture-top {
  font-size: 2em;
  margin-bottom: 0.8em;
}

.show-picture-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.show-picture-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(128, 193, 223);
  margin-bottom: 0.8em;
  padding: 0.5em;
  border-radius: 20px;
}

.show-picture-name {
  font-size: 1.3em;
  color: rgb(29, 28, 28);
  margin-bottom: 0.1em;
}

.show-picture-link {
  background-color: rgb(73, 168, 140);
  color: #fff;
  border-radius: 20%;
  padding: 0.2rem 0.7rem;
}

.show-my-picture-link {
  background-color: rgb(194, 80, 65);
  color: #fff;
  border-radius: 20%;
  padding: 0.2rem 0.7rem;
}

.show-picture-title {
  font-size: 1.5em;
  color: rgb(48, 38, 38);
  margin-top: 0.2em;
}

.show-btn-set {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 200px 0px;
  right: 40px;
  bottom: 53vh;
}

.comment-btn {
  width: 180px;
  background: #0db498;
  text-align: center;
  border-radius: 10%;
  padding: 5px 12px;
  margin-bottom: 10px;
}

.comment-btn-text {
  color: #fff;
  display: block;
  font-size: 17px;
  text-decoration: none;
  margin-bottom: 5px;
}

.comment-btn-icon {
  width: 60%;
}

.picture-btn {
  width: 180px;
  background: #0db498;
  text-align: center;
  border-radius: 10%;
  padding: 5px 12px;
}

.picture-btn-text {
  color: #fff;
  display: block;
  font-size: 17px;
  text-decoration: none;
  margin-bottom: 5px;
}

.picture-btn-icon {
  width: 60%;
}
