.show-main {
  background-color: white;
}

.show-facility-list-zoo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 25% 0% 25%;
  background-color: rgb(9, 156, 100);
  border-radius: 20px;
}

.show-facility-list-aquarium {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 25% 0% 25%;
  background-color: rgb(10, 138, 197);
  border-radius: 20px;
}

.show-facility-texts {
  font-size: 30px;
  color: #FFF;
  margin-left: 1vw;
}

.first-show {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20vw;
}

.show-content-zoo {
  margin: 3% 0% 1% 0%;
  font-size: 35px;
  background: linear-gradient(transparent 60%, #baebba 0%);
}

.show-content-aquarium {
  margin: 3% 0% 1% 0%;
  font-size: 35px;
  background: linear-gradient(transparent 60%, #93d5e6 0%);
}

.show-contents-kana {
  font-size: 25px;
  margin-left: 1vw;
}

.show-contents {
  font-size: 30px;
  margin-left: 1vw;
}

.show-content-map {
  margin: 3% 0% 1% 0%;
  font-size: 35px;
  background: linear-gradient(to left, #b3ffab, #12fff7);
}

.map-area {
  padding: 200px 200px;
  margin-left: 1vw;
  background: linear-gradient(to left, #b3ffab, #12fff7);
}

.upper-content {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.official-btn {
  background: linear-gradient(to left, #b3ffab, #12fff7);
  padding: 15px;
  margin: 20px 0px;
  line-height: 32px;
  border-radius: 10px;
  border: 6px outset #1dc0c0;
  font-size: 21px;
  font-weight: bold;
  color: rgb(104, 92, 92);
  cursor: pointer;
  text-decoration: none;
}

.second-show {
  width: 100vw;
  padding: 200px 200px;
  background-color: rgb(15, 168, 97);
}

.third-show {
  width: 100vw;
  padding: 200px 200px;
  background-color: rgb(127, 189, 57);
}

.shoe-btnset {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 200px 0px;
  right: 40px;
  bottom: 53vh;
}

.comment-btn {
  width: 180px;
  background: #0db498;
  text-align: center;
  border-radius: 10%;
  padding: 5px 12px;
  margin-bottom: 10px;
}

.comment-btn-text {
  color: #fff;
  display: block;
  font-size: 17px;
  text-decoration: none;
  margin-bottom: 5px;
}

.comment-btn-icon {
  width: 60%;
}

.picture-btn {
  width: 180px;
  background: #0db498;
  text-align: center;
  border-radius: 10%;
  padding: 5px 12px;
}

.picture-btn-text {
  color: #fff;
  display: block;
  font-size: 17px;
  text-decoration: none;
  margin-bottom: 5px;
}

.picture-btn-icon {
  width: 60%;
}
