.mypage-main {
  background-color: white;
}

.mypage-header {
  margin: 0 8rem;
  padding: 2% 0% 1% 0%;
  display: flex;
  align-items: flex-end;
}

.mypage-top-nickname-men {
  color: white;
  font-size: 1.5rem;
  text-shadow:  0 1.6px 0 #ccc, 0 2.3px 6.5px rgba(0, 0, 0, .2);
  background: rgb(49, 78, 204);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.mypage-top-nickname-woman {
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 1.6px 0 #ccc, 0 2.3px 6.5px rgba(0, 0, 0, .2);
  background: rgb(243, 73, 73);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.mypage-top-nickname-other {
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 1.6px 0 #ccc, 0 2.3px 6.5px rgba(0, 0, 0, .2);
  background: rgb(200, 39, 233);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.mypage-top-text {
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

.mypage-comment-ber {
  width: 100%;
  padding: 3% 10%;
  background-color: rgb(150, 238, 197);
}

.mypage-comment-top {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.mypage-comment-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0% 12%;
}

.mypage-comment-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.8rem;
  padding-bottom: 1rem;
  border-bottom: 4px solid rgb(241, 241, 241);
}

.speech-balloon {
  position: relative;
  background-color: #d0e4da;
  padding: 0.6rem;
  color: #333;
  border-radius: 1rem;
  font-size: 1.1rem;
  }

.speech-balloon::before {
content: "";
position: absolute;
border: 1rem solid transparent;
border-top: 0.8rem solid #d0e4da;
top: 100%;
left: 11%;
}

.speech-balloon p {
margin: 0;
padding: 0;
}

.mypage-comment-edit-link {
  display: flex;
  justify-content: center;
  background-color: #ea352d;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  margin-left: 75%;
  margin-top: -1.5rem;
}

.mypage-comment-facility-link {
  background-color: rgb(164, 223, 215);
  color: #000;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  margin-top: 0.8rem;
  margin-left: 3%;
  margin-right: 50%;
}

.mypage-comment-picture-nil-text {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: rgb(48, 38, 38);
}

.mypage-picture-ber {
  width: 100%;
  padding: 3% 10%;
  background-color: rgb(60, 243, 234);
}

.mypage-picture-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.mypage-picture-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(128, 193, 223);
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  border-radius: 20px;
}

.mypage-picture-name {
  font-size: 1rem;
  color: rgb(29, 28, 28);
  margin-bottom: 0.1em;
}

.mypage-picture-link {
  background-color: rgb(73, 168, 140);
  color: #fff;
  border-radius: 10%;
  padding: 0.2rem 0.7rem;
}

.mypage-picture-title {
  font-size: 1.5rem;
  color: rgb(48, 38, 38);
  margin-top: 0.2rem;
}

.user-edit-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1.5rem;
  margin: 0 auto;
  background: rgb(223, 235, 230);
}

.user-edit-red-btn {
  display: flex;
  justify-content: center;
  width: 40%;
  background: #ea352d;
  border-radius: 1rem;
  color: #fff;
  line-height: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}
