.registration-main {
  width: 100%;
  height: auto;
  background-color: rgb(223, 235, 230);
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 67vw;
  background-color: white;
  padding-bottom: 2.5rem;
  border: 0.5rem solid white;
  border-radius: 5rem;
}

.form-header {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}

.form-top-text {
  line-height: 6rem;
  font-weight: bold;
}

.form-group {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 2.2rem;
}

.form-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.info-text {
  margin-left: 0.8rem;
  color: #888;
  font-size: 1rem;
  margin-top: 0.1rem;
}

/* 全シート共通 */
.indispensable {
  background: #41a341;
  margin-left: 0.5rem;
  border: 0.2rem solid #41a341;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}

.indispensable-free {
  background: #5b5e5b;
  margin-left: 0.5rem;
  border: 0.2rem solid #5b5e5b;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}

.input-default {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.6rem;
  margin: 0.2rem 0.4rem;
  padding: 0.2rem 0.5rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  background-color: #f5f5f5e8;
  font-size: 1.1rem;
  font-weight: bold;
}

.input-default-nickname {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.6rem;
  margin: 0.2rem 0.4rem;
  padding: 0.2rem 0.5rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  background-color: #f5f5f5e8;
  font-size: 1.4rem;
  font-weight: bold;
}

.select-box {
  width: 100%;
  height: 2.6rem;
  margin: 0.2rem 0.4rem;
  padding: 0.2rem 0.5rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  background-color: #f5f5f5e8;
  font-size: 17px;
  font-weight: bold;
}

/* /全シート共通 */

.register-btn {
  width: 50%;
  padding-top: 3rem;
  margin: 0 auto;
}

.register-red-btn {
  width: 100%;
  background: #ea352d;
  border-radius: 1rem;
  color: #fff;
  line-height: 3rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.mypage-Back-box {
  display: flex;
  justify-content: center;
  width: 35%;
  padding-top: 2rem;
  margin: 0 auto;
}

.mypage-Back-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #837d7d;
  border: 0.5rem solid #837d7d;
  border-radius: 1rem;
  color: #fff;
  line-height: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.delete-main {
  width: 100%;
  height: auto;
  background-color: rgb(223, 235, 230);
  display: flex;
  justify-content: center;
}

.delete-form-wrap {
  width: 50vw;
  background-color: white;
  padding-bottom: 2.5rem;
  border: 0.5rem solid rgb(202, 84, 84);
  border-radius: 3rem;
}

.delete-form-header {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}

.delete-form-top-text {
  line-height: 6rem;
  font-weight: bold;
  color: rgb(202, 84, 84);
}

.delete-form-text {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}

.delete-text {
  line-height: 2rem;
  font-weight: bold;
  color: rgb(202, 84, 84);
}

.delete-btn {
  display: flex;
  justify-content: center;
  width: 36%;
  padding-top: 2rem;
  margin: 0 auto;
}

.delete-red-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(202, 84, 84);
  border-radius: 1rem;
  color: #fff;
  line-height: 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.delete-mypage-Back-box {
  display: flex;
  justify-content: center;
  width: 47%;
  padding-top: 2rem;
  margin: 0 auto;
}

.delete-mypage-Back-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #837d7d;
  border: 0.5rem solid #837d7d;
  border-radius: 1rem;
  color: #fff;
  line-height: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
