.login-btn {
  width: 50%;
  padding-top: 3rem;
  margin: 0 auto;
}

.login-red-btn {
  width: 100%;
  background: #ea352d;
  border: 0.5rem solid #ea352d;
  border-radius: 1rem;
  color: #fff;
  line-height: 3rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.login-flash-message {
  color: rgb(182, 48, 0);
  font-size: 1.3vw;
  text-align: center;
}
